
html, button, input, select, textarea,

body {
  margin      : 0;

  font-family : 'Nunito', sans-serif;
  color       : #fff;
  line-height : normal;
}
p {
  font-size : 1.09em;
}

.pure-g [class *= "pure-u"] {
  font-family : 'Nunito', sans-serif;
}

/*Heading*/
.heading {
  padding : 30% 5%;
}

.heading > h1 {
  font-size   : 2.1em;
  font-weight : 700;
}

.heading > h2 {
  font-size   : 1.5em;
  font-weight : 300;
}

.heading > hr {
  height           : 3px;

  background-color : #fff;
  border           : none;
  box-shadow       : none;
}

@media screen and (min-width: 48em){
  .heading {
    padding : 10% 4%;
  }

  .heading > h1 {
    font-size : 3.5em;
  }

  .heading > h2 {
    font-size : 2.6em;
  }
}

/*Section*/
.section-full {
  padding : 50px;
}

.section-half {
  padding : 50px 0;
}

.section-half-content {
  margin : 0 50px;
}

.section-title {
  font-size   : 2em;
  line-height : normal;
}

@media screen and (min-width: 48em){
  .section-full {
    padding : 70px;
  }

  .section-half {
    padding : 70px 0;
  }

  .section-half-content {
    margin : 0 70px;
  }
}

/*Form*/
#section-3 input, #section-3 textarea {
  resize           : none;

  padding          : .75em .6em;

  background-color : #2c3e50;
  border           : 2px solid #2c3e50;
  box-shadow       : none;
}

#section-3 input:focus, #section-3 textarea:focus {
  color  : #fff;
  border : 2px solid #3498db;
}

#section-3 input:invalid, #section-3 textarea:invalid {
  color : #fff;
}

#section-3 textarea {
  min-height : 150px;
}

.#section-3 .button-send {
  background-color : #95a5a6;
}

/*Contact*/
.contact-info {
  margin        : 1.3em 0;
  padding       : .75em .6em;

  border-radius : 3px;
}

.contact-list {
  margin     : 10px;
  padding    : 0;

  list-style : none;
}

.contact-list > li > a {
  color           : #fff;
  text-decoration : none;
}

.contact-list > li {
  margin : 1em;
}

/*Footer*/
footer {
  padding          : 50px 40px;

  background-color : #2c3e50;
  color            : rgba(255,255,255,0.6);
}

.credit {
  text-align : right;
}

.suggest {
  font-size  : .9em;
  text-align : left;
}

.heart {
  font-size : 1.5em;
  color     : #e91e63;
}

/*Color*/
.turquoise {
  background-color : #1abc9c
}

.green-sea {
  background-color : #16a085
}

.emerald {
  background-color : #2ecc71
}

.nephirits {
  background-color : #27ae60;
}

.sun-flower {
  background-color : #f1c40f;
}

.carrot {
  background-color : #e67e22;
}

.orange {
  background-color : #f39c12;
}

.pumpkin {
  background-color : #d35400;
}

.peter-river {
  background-color : #3498db;
}

.belize-hole {
  background-color : #2980b9;
}

.alizarin {
  background-color : #e74c3c;
}

.pomgranate {
  background-color : #c0392b;
}

.amethyst {
  background-color : #9b59b6;
}

.awisteria {
  background-color : #8e44ad;
}

.clouds {
  background-color : #ecf0f1;
}

.silver {
  background-color : #bdc3c7;
}

.wet-asphalt {
  background-color : #34495e;
}

.midnight-blue {
  background-color : #2c3e50;
}

.concrete {
  background-color : #95a5a6;
}

.asbestos {
  background-color : #7f8c8d;
}